.partner {
	background-color: $bg-service;

	img {
		width: 100%;
	}
}

.logo-partners {
	padding: 20px 0;

	@media (min-width: 1024px) {
		padding: 100px 0;
	}

	a {
		text-decoration: none;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}
	}

	.hamburger {
		padding: 0 0 10px;
	}

	.vintage {
		padding: 10px 0;
	}

	.pacific {
		padding-top: 10px;
	}

	.pompadour {
		padding-top: 10px;
	}
}