$white: #ffffff;
$black: #000000;
$address: #343434;
$address-text: #646464;
$menu-text: #444444;
$menu-activ: #97af42;
$lime: #8bc34a;
$green: #4caf50;
$btn-text: #aad37a;
$dots: #414141;
$dots-hover: #a6a6a6;
$about-text-first: #808080;
$about-text: #8c8c8c;
$bg-service: #fafafa;
$line: #999999;
$recent: #e8e8e8;
$squer: #4cad4f;
$core: #ededed;
$start: #f7f7f7;
$banner: #282828;
$banner-button: #fdfdfd;